@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
/* font-family: 'La Belle Aurore', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
/* font-family: 'Passion One', cursive; */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --bodycolor: #1d1d1d;
  --bluecolor: #79f7d9;
  --greycolor: #515152;
  --pinkColor: #e94152;
  --htmlTagsFontSize: 20px;
}
::selection {
  background-color: transparent;
}
*::before,
*::after {
  font-family: "La Belle Aurore", cursive;
  font-size: var(--htmlTagsFontSize);
  color: var(--greycolor);
  position: absolute;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bodycolor);
  color: white;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bodycolor);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
body::before {
  content: "<html>";
  top: 25px;
  left: 170px;
  z-index: 1;
}
body::after {
  content: "</html>";
  font-family: "La Belle Aurore", cursive;
  color: var(--greycolor);
  font-size: var(--htmlTagsFontSize);
  position: absolute;
  bottom: 25px;
  left: 170px;
}
section {
  margin-left: 140px;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-btn {
  display: none;
  z-index: 1000;
  color: white;
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 26px;
  cursor: pointer;
  transition: all 300ms;
  padding: 10px;
}
.menu-btn:hover,
.menu-btn:focus {
  transform: scale(0.9);
}

h2 {
  font-family: "Passion One", cursive;
  margin-left: 5%;
  color: var(--bluecolor);
  font-size: 8vw;
  position: relative;
  padding: 15px;
}
h2::before {
  content: "<h2>";
  top: -10px;
  left: 0;
}
h2::after {
  content: "</h2>";
  bottom: -10px;
  left: 0;
}

@media (max-width: 992px) {
  section {
    margin-left: 0;
  }
  body::before {
    left: 20px;
  }
  body::after {
    left: 20px;
  }
  .menu-btn {
    display: block;
  }
  h2 {
    margin-left: 2%;
  }
}

/* Nav ----------------------------------------------------------------  */

nav {
  color: white;
  text-align: center;
  width: 140px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: var(--bodycolor);
  top: 0;
  left: 0;
  z-index: 2;
}

nav .top {
  background-color: black;
  min-height: 170px;
  padding: 15px 0;
}
nav .top .logo {
  padding: 10px 0;
  width: 100%;
  font-size: 100px;
  color: var(--pinkColor);
  font-family: "Passion One", cursive;
  text-shadow: -5px 0px 0px var(--bluecolor);
  line-height: 60px;
  transform: translateX(5px);
  cursor: pointer;
}
nav .top .name {
  font-family: "Passion One", cursive;
  text-transform: uppercase;
  font-size: 24px;
}
nav .top .profession {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: var(--greycolor);
}

nav .menu {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
nav .menu ul {
  list-style: none;
  width: 100%;
  font-size: 14px;
}
nav .menu ul a {
  text-decoration: none;
  display: block;
  color: grey;
}
nav .menu ul li {
  padding: 15px 0;
  border-bottom: 1px solid rgb(81 81 82 / 50%);
  transition: all 200ms;
}
nav .menu ul li:hover {
  color: var(--bluecolor);
}

nav .social {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
nav .social a {
  width: calc(100% / 3);
  color: grey;
  padding: 5%;
  transition: all 200ms;
}
nav .social a:hover {
  color: var(--bluecolor);
  transform: translateY(-2px);
}
nav.show {
  display: unset;
}

@media (max-width: 992px) {
  nav {
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 200;
  }
}
/* Hero Section ----------------------------------------------------------------  */

.hero {
  position: relative;
  overflow: hidden;
  width: calc(100vw - 140px);
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../images/hero.svg);
  background-position: bottom;
  background-size: cover;
}
.hero .particles-js {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
}
.hero h1 {
  color: white;
  z-index: 22;
  letter-spacing: 7px;
  font-family: "Passion One", cursive;
  position: relative;
  line-height: 80%;
  margin-left: 5%;
  margin-bottom: 20px;
  font-size: 10vw;
}
.hero h1 span {
  transition: all 500ms;
  color: var(--pinkColor);
  text-shadow: -5px 0px 0px var(--bluecolor);
  font-size: 16vw;
}
.hero h1::before {
  content: "<h1>";
  line-height: unset;
  letter-spacing: -1px;
  top: -50px;
  left: 0;
}
.hero h1::after {
  content: "</h1>";
  font-family: "La Belle Aurore", cursive;
  color: var(--greycolor);
  font-size: var(--htmlTagsFontSize);
  position: absolute;
  letter-spacing: -1px;
  bottom: -60px;
  left: 0;
}

.hero p {
  font-family: "Montserrat", sans-serif;
  color: rgb(170, 170, 170);
  font-size: 20px;
  position: relative;
  padding: 30px 10px;
  margin-left: 5%;
}

.hero p::before {
  content: "<p>";
  top: 0;
  left: 0;
}
.hero p::after {
  content: "</p>";
  bottom: 0;
  left: 0;
}

.hero button {
  z-index: 2;
  outline: none;
  padding: 10px 30px;
  border: 1px solid var(--bluecolor);
  color: var(--bluecolor);
  background-color: transparent;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 300ms;
  margin-left: 5%;
}

.hero button:hover {
  background-color: var(--bluecolor);
  animation: headShake;
  display: inline-block;
  animation-duration: 1s;
  color: black;
}

@media (max-width: 992px) {
  .hero {
    width: 100%;
  }
  .hero h1 {
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  .hero h1::before {
    top: -30px;
  }
  .hero h1::after {
    bottom: -40px;
  }
  .hero p {
    font-size: 16px;
  }

  .hero button {
    font-size: 16px;
  }
}

/* About Section ----------------------------------------------------------------  */

.about {
  position: relative;
  z-index: 1;
  width: calc(100% - 140px);
}
.about::before {
  content: "Who Am I ?";
  font-family: "Passion One", cursive;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: -1;
  color: rgba(255, 255, 255, 0.025);
  font-size: 20vw;
  width: 100%;
}
.about .about-data {
  margin-left: 5%;
  padding: 50px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
.about .img-container {
  position: relative;
}
.about .img-container::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100%;
  height: calc(100% - 25px);
  background-color: black;
  z-index: 0;
  background-image: url(../images/me/me1.jpg);
  background-position: center;
  background-size: cover;
}

.about img {
  max-width: 250px;
  margin-bottom: 20px;
  transition: all 500ms;
  position: relative;
  mix-blend-mode: screen;
}
.img-container:hover img {
  mix-blend-mode: normal;
  transform: translate(100px, 100px) scale(0.7);
}

.about p {
  max-width: 65ch;
  margin-bottom: 10px;
  font-size: 16px;
  padding-bottom: 5px;
}

@media (max-width: 992px) {
  .about {
    width: 100%;
  }
  .about .about-data {
    margin-left: 0;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  .about .img-container::before {
    top: 0px;
    left: 0px;
  }

  .img-container:hover img {
    transform: translate(-30%, -75px) scale(0.4);
  }
}

/* Skills Section ----------------------------------------------------------------  */

.skills {
  position: relative;
  z-index: 1;
  width: calc(100% - 140px);
}
.skills::before {
  content: "Skills";
  font-family: "Passion One", cursive;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: -1;
  color: rgba(255, 255, 255, 0.025);
  font-size: 20vw;
  width: 100%;
}

.skills .skills-set {
  margin-left: 5%;
  padding: 20px 20px 20px 0;
  width: 75%;
}

.skills .skills-set .skill {
  display: inline-block;
  padding-top: 10px;
  font-size: 18px;
  margin-left: 40px;
}
.skills .skills-set .skill::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: var(--greycolor);
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
  line-height: 50%;
}
.skill:nth-of-type(1) {
  color: #ff5f33;
}
.skill:nth-of-type(2) {
  color: #2853ff;
}
.skill:nth-of-type(3) {
  color: #7c4ef7;
}
.skill:nth-of-type(4) {
  color: #ff1188;
}
.skill:nth-of-type(5) {
  color: #fcdd32;
}
.skill:nth-of-type(6) {
  color: #a58400;
}
.skill:nth-of-type(7) {
  color: #2e71f7;
}
.skill:nth-of-type(8) {
  color: #b36158;
}
.skill:nth-of-type(9) {
  color: #ea5033;
}
.skill:nth-of-type(10) {
  color: #ff0000;
}
.skill:nth-of-type(11) {
  color: #58caf7;
}
.skill:nth-of-type(12) {
  color: #f19533;
}
.skill:nth-of-type(13) {
  color: #d800e4;
}

@media (max-width: 992px) {
  .skills {
    width: 100%;
  }

  .skills .skills-set {
    margin-left: 0%;
    padding: 20px;
    width: 95%;
  }

  .skills .skills-set .skill {
    font-size: 16px;
    margin-left: 30px;
  }
  .skills .skills-set .skill::after {
    width: 8px;
    height: 8px;
  }
}

/* Resume Section ----------------------------------------------------------------  */

.resume {
  width: calc(100% - 140px);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13131346;
  z-index: 1;
  position: relative;
}
.resume a {
  text-decoration: none;
  outline: none;
  padding: 10px 30px;
  border: 1px solid var(--bluecolor);
  color: var(--bluecolor);
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: all 300ms;
  position: relative;
}

.resume a::before {
  content: "<a>";
  letter-spacing: -1px;
  top: -30px;
  left: -30px;
}
.resume a::after {
  content: "</a>";
  letter-spacing: -1px;
  bottom: -35px;
  left: -30px;
}

.resume a:hover {
  background-color: var(--bluecolor);
  animation: headShake;
  display: inline-block;
  animation-duration: 1s;
  color: black;
}

@media (max-width: 992px) {
  .resume {
    width: 100%;
  }
  .resume a {
    padding: 8px 25px;
    font-size: 16px;
  }
}

/* Portfolio Section ----------------------------------------------------------------  */

.portfolio {
  z-index: 1;
  width: calc(100% - 140px);
  position: relative;
}
.portfolio::before {
  content: "Portfolio";
  font-family: "Passion One", cursive;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: -1;
  color: rgba(255, 255, 255, 0.025);
  font-size: 20vw;
  width: 100%;
}

.portfolio h3 {
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.container {
  margin-left: 5%;
  padding-right: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "one one two three"
    "one one four five"
    "six seven eight eight"
    "nine seven eight eight"
    "ten seven eleven twelve";
}
.item {
  aspect-ratio: 960 / 600;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: all 300ms;
  position: relative;
}
.item a {
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  font-size: 150%;
  text-decoration: none;
  color: white;
}
.item:hover a {
  display: flex;
}
.one {
  background-image: url(../images/portfolio/github.png);
  grid-area: one;
}

.two {
  background-image: url(../images/portfolio/pokedextall.png);
  grid-area: two;
}

.three {
  background-image: url(../images/portfolio/azwebdev.png);
  grid-area: three;
}

.four {
  background-image: url(../images/portfolio/movieapptall.png);
  grid-area: four;
}

.five {
  background-image: url(../images/portfolio/bombo.png);
  grid-area: five;
}

.six {
  background-image: url(../images/portfolio/passwordgenerator.png);
  grid-area: six;
}

.seven {
  background-image: url(../images/portfolio/vercel.png);
  aspect-ratio: 960 / 1860;
  grid-area: seven;
}

.eight {
  background-image: url(../images/portfolio/firefoxo.png);
  grid-area: eight;
}

.nine {
  background-image: url(../images/portfolio/js-calculator.png);
  grid-area: nine;
}
.ten {
  background-image: url(../images/portfolio/todolist.png);
  grid-area: ten;
}
.eleven {
  background-image: url(../images/portfolio/thesoloninja.png);
  grid-area: eleven;
}
.twelve {
  background-image: url(../images/portfolio/melony404.png);
  grid-area: twelve;
}

@media (max-width: 992px) {
  .portfolio {
    width: 100%;
  }

  .container {
    margin-left: 0;
    padding-right: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .item {
    width: calc(50% - 10px);
  }

  .seven {
    aspect-ratio: 960 / 600;
  }
}

@media (max-width: 650px) {
  .item {
    width: 100%;
  }
}
/* Contact Section ----------------------------------------------------------------  */
.contact {
  z-index: 1;
  width: calc(100% - 140px);
  position: relative;
  padding-bottom: 0;
}
.contact::before {
  content: "Get in touch";
  font-family: "Passion One", cursive;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: -1;
  color: rgba(255, 255, 255, 0.025);
  font-size: 20vw;
  width: 100%;
}
.contact .contact-conatiner {
  min-height: 80vh;
  margin-left: 5%;
  display: flex;
  gap: 40px;
}
.contact .contact-conatiner .left {
  width: 50%;
}

.contact .contact-conatiner .right {
  width: 50%;
}

.left p {
  position: relative;
  margin-top: 25px;
  margin-bottom: 55px;
  padding-left: 15px;
}
.left p::before {
  content: "<p>";
  top: -30px;
  left: 0;
}
.left p::after {
  content: "</p>";
  bottom: -30px;
  left: 0;
}

.left form {
  position: relative;
}

.left form::before {
  content: "<form>";
  top: -30px;
  left: 0;
}
.left form::after {
  content: "</form>";
  bottom: -40px;
  left: 0;
}
.left form input {
  color: var(--bluecolor);
  background-color: #2a2a2a;
  outline: none;
  border: none;
  margin-top: 15px;
  padding: 7px 15px;
  font-size: 18px;
  width: calc(50% - 3px);
}

.left form input[name="subject"] {
  width: 100%;
}

.left form textarea {
  color: var(--bluecolor);
  background-color: #2a2a2a;
  outline: none;
  border: none;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-top: 15px;
  padding: 7px 15px;
  font-size: 18px;
  min-height: 150px;
}

.left form button {
  outline: none;
  padding: 10px 30px;
  border: 1px solid var(--bluecolor);
  color: var(--bluecolor);
  background-color: transparent;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 300ms;
}

.left form button:hover {
  background-color: var(--bluecolor);
  animation: headShake;
  display: inline-block;
  animation-duration: 1s;
  color: black;
}
.right {
  position: relative;
}

.right .map {
  width: 100%;
  height: 100%;
}

.right .map-tooltip {
  line-height: 25px;
  position: absolute;
  top: 16%;
  left: 5%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 2;
}
.right .map-tooltip span {
  color: var(--bluecolor);
}

@media (max-width: 992px) {
  .contact {
    width: 100%;
  }
  .contact .contact-conatiner {
    min-height: auto;
    margin-left: 0%;
    flex-direction: column;
    gap: 20px;
  }
  .contact .contact-conatiner .left {
    padding: 20px;
    width: 100%;
  }

  .contact .contact-conatiner .right {
    width: 100%;
    height: 350px;
  }
  .left form input,
  .left form textarea,
  .left form button {
    font-size: 16px;
  }

  .right .map {
    width: 100%;
    height: 100%;
  }
  .right .map-tooltip {
    font-size: 14px;
    line-height: 20px;
    top: 20%;
    padding: 12px;
  }
}

/*  Loading Screen */

.loading-page {
  background: #0d0d0d;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #f60d54;
}
.loading-page .counter span {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter hr {
  background: var(--pinkColor);
  border: none;
  height: 1px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter span.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: var(--pinkColor);
}
