@use "../utilities/" as u;

.notification-container {
  position: fixed;
  right: u.pxToRem(20);
  bottom: u.pxToRem(20);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .notification {
    margin: u.pxToRem(5) 0;
    text-align: center;
    background-color: black;
    color: u.$purplecolor;
    font-size: u.pxToRem(16);
    border-radius: u.pxToRem(8);
    padding: u.pxToRem(15);
  }
}
