@use "../utilities/" as u;

.portfolio {
  z-index: 1;
  width: 90%;
  margin: auto;
  position: relative;
  &::before {
    content: "Portfolio";
    font-family: u.$passion-one;
    position: absolute;
    text-align: center;
    z-index: -1;
    color: rgba(255, 255, 255, 0.025);
    font-size: 20vw;
    width: 100%;
  }
  h3 {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    min-width: u.pxToRem(200);
    text-align: center;
    padding: u.pxToRem(5) u.pxToRem(10);
    margin-bottom: u.pxToRem(20);
    font-size: u.pxToRem(16);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: u.pxToRem(10) u.pxToRem(10);
  grid-auto-flow: row;
  grid-template-areas:
    "one one two three"
    "one one four five"
    "six seven eight eight"
    "nine seven eight eight"
    "ten seven eleven twelve";
}
.item {
  aspect-ratio: 960 / 600;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transition: all 300ms;
  position: relative;
  &:hover {
    a {
      display: flex;
    }
  }
  a {
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    font-size: 150%;
    text-decoration: none;
    color: white;
  }
  &.one {
    background-image: url(../images/portfolio/github.png);
    grid-area: one;
  }

  &.two {
    background-image: url(../images/portfolio/pokedextall.png);
    grid-area: two;
  }

  &.three {
    background-image: url(../images/portfolio/azwebdev.png);
    grid-area: three;
  }

  &.four {
    background-image: url(../images/portfolio/movieapptall.png);
    grid-area: four;
  }

  &.five {
    background-image: url(../images/portfolio/bombo.png);
    grid-area: five;
  }

  &.six {
    background-image: url(../images/portfolio/passwordgenerator.png);
    grid-area: six;
  }

  &.seven {
    background-image: url(../images/portfolio/vercel.png);
    aspect-ratio: 960 / 1860;
    grid-area: seven;
  }

  &.eight {
    background-image: url(../images/portfolio/firefoxo.png);
    grid-area: eight;
  }

  &.nine {
    background-image: url(../images/portfolio/js-calculator.png);
    grid-area: nine;
  }
  &.ten {
    background-image: url(../images/portfolio/todolist.png);
    grid-area: ten;
  }
  &.eleven {
    background-image: url(../images/portfolio/thesoloninja.png);
    grid-area: eleven;
  }
  &.twelve {
    background-image: url(../images/portfolio/thepinkypawregex.png);
    grid-area: twelve;
  }
}

.one {
  background-image: url(../images/portfolio/github.png);
  grid-area: one;
}

.two {
  background-image: url(../images/portfolio/pokedextall.png);
  grid-area: two;
}

.three {
  background-image: url(../images/portfolio/azwebdev.png);
  grid-area: three;
}

.four {
  background-image: url(../images/portfolio/movieapptall.png);
  grid-area: four;
}

.five {
  background-image: url(../images/portfolio/bombo.png);
  grid-area: five;
}

.six {
  background-image: url(../images/portfolio/passwordgenerator.png);
  grid-area: six;
}

.seven {
  background-image: url(../images/portfolio/vercel.png);
  aspect-ratio: 960 / 1860;
  grid-area: seven;
}

.eight {
  background-image: url(../images/portfolio/firefoxo.png);
  grid-area: eight;
}

.nine {
  background-image: url(../images/portfolio/js-calculator.png);
  grid-area: nine;
}
.ten {
  background-image: url(../images/portfolio/todolist.png);
  grid-area: ten;
}
.eleven {
  background-image: url(../images/portfolio/thesoloninja.png);
  grid-area: eleven;
}
.twelve {
  background-image: url(../images/portfolio/thepinkypawregex.png);
  grid-area: twelve;
}

@media (max-width: 992px) {
  .portfolio {
    width: 100%;
    h3 {
      margin-left: u.pxToRem(20);
      margin-bottom: 0;
    }
    .container {
      margin-left: 0;
      padding-right: 0;
      padding: u.pxToRem(20);
      display: flex;
      flex-wrap: wrap;
      gap: u.pxToRem(20);
      .item {
        width: calc(50% - 10px);
        &.seven {
          aspect-ratio: 960 / 600;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .portfolio {
    .container {
      .item {
        width: 100%;
      }
    }
  }
}
