// Fonts
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

$la-belle-aurore: "La Belle Aurore", cursive;
$montserrat: "Montserrat", sans-serif;
$passion-one: "Passion One", cursive;

// Colors
$bodycolor: #1d1d1d;
$bluecolor: #4facd4;
$purplecolor: #8463d8;
